---
---

<div class="w-full relative flex justify-center">
    <input placeholder="Search" class="text-bold py-2 pl-4 pr-3 focus:outline-none focus:ring-dk-grey focus:ring-2 focus:border-dk-grey shadow-inner-xl relative h-8 bg-lt-white w-full rounded-xl drop-shadow-[0_8px_1px_rgba(0,0,0,0.5)]">
</div>
