---
import Card from "../components/Card.astro";
//MainLayout
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="bg-dk-violet w-full h-screen">
    <div class="relative w-full max-w-6xl flex items-center justify-center">
      <div class="absolute w-24 h-72 rounded-full bg-pink filter blur-3xl opacity-50 top-32 left-0"></div>
      <div class="absolute w-32 h-72 rounded-full bg-lt-green filter blur-3xl opacity-70 right-0"></div>
    </div>
  </div>
</body>
</html>

<style>
  

</style>