---
//MainLayout
import Footer from "../components/Footer.jsx";
import SearchTable from "../components/SearchTable.jsx";

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rick And Mort App</title>
</head>
<body>
  <div class="bg-dk-violet w-full h-auto min-h-screen pb-28 flex justify-center">
    <div class="absolute w-96 h-96 rounded-full bg-pink filter blur-3xl opacity-40 left-0 top-32"></div>
    <div class="absolute w-96 h-96 rounded-full bg-lt-green filter blur-3xl opacity-40 right-0"></div>
    <div class="relative w-full h-auto flex justify-center">
      <div class="relative w-10/12 h-auto main-content flex flex-col">
        <div class="h-64 w-full tittle flex justify-center items-center">
          <img class="md:h-40 md:w-auto drop-shadow-[5px_12px_3px_rgba(0,0,0,0.5)] relative w-auto h-auto" src="/Rick_and_Morty.png"alt="Imagen de Rick And Morty">
        </div>
        
        <SearchTable client:load></SearchTable>
      </div>
    </div>
  </div>
  <Footer></Footer>
</body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');
  *{
    font-family: 'Catamaran', sans-serif;
  }
</style>